@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.box {
  padding: 0 !important;
  border: 1px solid $border-subtle-02;
  background-color: $background !important;
  overflow: hidden;
}

.header {
  @include type-style("body-compact-01");
  background-color: $layer-01;
  border-bottom: 1px solid $border-subtle-02;
  padding-left: $spacing-04 !important;
  margin: 0 !important;
  height: $spacing-07;
  align-content: center;
}
