@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.formSection {
  padding: $spacing-02 $spacing-06;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .col {
    flex: 0 0 calc(50% - 0.5rem);
    min-width: 0;
    padding-bottom: $spacing-03 + $spacing-01;
  }
}
