# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
yarn-error.log

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production build
dist
dist-ssr
build
*.local

# IDEs and editors
.idea
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

test-output


# TypeScript
*.tsbuildinfo
node_modules/.tmp/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.cache
.temp
.tmp
temp
tmp

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Storybook
storybook-static

# Bundle analyzer
stats.html

*storybook.log

# Cline
docs/memory-bank/*
.clinerules

vite.config.*.timestamp*
vitest.config.*.timestamp*

# CLI local config
.bahmni-cli.conf