@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.header {
  --cds-text-primary: #{$text-inverse};

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 $spacing-05;
}

.globalBar {
  display: flex;
  margin-left: auto;
}

.locationSelector {
  --cds-layer: #{$layer-02};
  --cds-field: #{$field-02};
  --cds-text-primary: #{$text-primary};

  display: flex;
  align-items: center;
  padding: 0 $spacing-03;
  min-width: $spacing-13;
}

.userMenu {
  display: flex;
  align-items: center;
  padding: 0 $spacing-03;
  min-width: $spacing-10;
}

