@use "@carbon/react/scss/spacing" as *;

.header {
  display: flex;
  align-items: center;
  padding: 0 $spacing-05 !important; 
}

.locationSelector {
  display: flex;
  align-items: center;
  padding: 0 $spacing-03;
}

.userMenu {
  display: flex;
  align-items: center;
  padding: 0 $spacing-03;
  width: auto;
}
