@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

:global(.cds--header a.cds--header__name),
:global(.cds--header a.cds--header__name:hover) {
  color: $text-inverse;
}

:global(.cds--header .cds--overflow-menu) svg {
  fill: $icon-inverse;
  color: $icon-inverse;
}

:global(.cds--header .cds--overflow-menu:hover),
:global(.cds--header .cds--overflow-menu--open),
:global(.cds--header .cds--overflow-menu:active) {
  background-color: rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  align-items: center;
  padding: 0 $spacing-05;
}

.locationSelector {
  display: flex;
  align-items: center;
  padding: 0 $spacing-03;
}

.userMenu {
  display: flex;
  align-items: center;
  padding: 0 $spacing-03;
  width: auto;
}
