@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.documentsTableBody {
  td {
    width: 20%;
  }

  td:nth-child(1) {
    width: 25%;
  }

  td:last-child {
    width: 15%;
  }
}

.viewAttachmentsLink {
  cursor: pointer;
}

.documentViewerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $spacing-04;
  gap: $spacing-05;
}

.attachmentItem {
  width: 100%;
}

.attachmentCounter {
  @include type-style('label-01');
  color: $text-secondary;
  margin-bottom: $spacing-02;
}

.attachmentError {
  color: $support-error;
  @include type-style('body-short-01');
}

.documentIframe {
  width: 100%;
  height: $spacing-06 * 25;
  border: none;
}

.documentImage {
  max-width: 100%;
  max-height: $spacing-06 * 25;
}
