.page {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.body {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  width: 100%;
  max-width: 450px;
}
