@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.skeleton {
  height: $spacing-08;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: $spacing-03;
  position: relative;
}

.greeting {
  @include type-style("body-compact-01");
  white-space: nowrap;
  color: inherit;
}

:global(.cds--overflow-menu-options),
:global(.cds--overflow-menu-options__btn) {
  background-color: #{$layer-02} !important;
}

.overflowMenu {
  background: transparent;

  &:global(.cds--overflow-menu--open) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:global(.cds--overflow-menu--open) svg {
    fill: $icon-inverse;
    color: $icon-inverse;
  }

  :global(.cds--overflow-menu-options--open) {
    margin-top: $spacing-03;
  }
}


