@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;

.profileContainer {
  display: flex;
  align-items: center;
  gap: $spacing-03;
  position: relative;
}

.greeting {
  @include type-style("body-compact-01");
  white-space: nowrap;
  background-color: $blue-60;
  color: $white-0;
  padding: $spacing-02 $spacing-05;
  border-radius: 0.25rem;
}

.overflowMenu {
  background: transparent;
}

.loading {
  @include type-style("label-01");
  padding: $spacing-03 $spacing-04;
}
