@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

$table-min-width: 62.5rem;
$table-cell-min-width: 6.875rem;

.sectionWrapper {
  box-shadow: 0px 2px 6px 0px $shadow;
  :global(html:has([data-separator])) & {
    overflow-x: auto;
  }
}

:global(html:has([data-separator]) #main-display-area div[id^="accordion-item"]) {
  overflow-x: auto;
}

:global(html:has([data-separator]) #main-display-area div[id^="accordion-item"]:has(.cds--data-table td:nth-child(5))) {
  padding-block-end: $spacing-05;
}

:global(html:has([data-separator]) #main-display-area .cds--data-table:has(td:nth-child(5))) {
  min-width: $table-min-width;

  td, th {
    min-width: $table-cell-min-width;
  }
}

.sectionName {
  min-block-size: fit-content !important;
  p {
    @include type-style("heading-compact-02");
    color: $text-primary;
  }
}

.divider {
  display: none;
}

.widgetLoading {
  padding: $spacing-05;
  color: $text-secondary;
  @include type-style("body-compact-01");
  text-align: center;
}

.noContent {
  padding: $spacing-05;
  color: $text-secondary;
  @include type-style("body-compact-01");
  font-style: italic;
  text-align: center;
}

.widgetError {
  padding: $spacing-05;
  color: $support-error;
  @include type-style("body-compact-01");
  font-style: italic;
  text-align: center;
}
