@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.tableContainer {
  margin-block: $spacing-10;
  margin-inline: calc($spacing-12 + $spacing-07);
  box-shadow: 0px 2px 6px 0px $shadow;
}

.table {
  td:nth-child(1) {
    @include type-style("body-compact-01");
    font-weight: 700;
  }
  tr > :nth-child(1),
  tr > :nth-child(5) {
    width: 25%;
  }
  tr > :nth-child(4),
  tr > :nth-child(6) {
    width: 11%;
  }
}
