@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

// Form Container

.formSection {
  display: flex;
  flex-direction: column;
}



.identifierField {
  width: $spacing-13 + $spacing-13 + $spacing-07;
  padding-bottom: $spacing-03 + $spacing-03;
  padding-top: $spacing-03 + $spacing-01;
  
  :global(.cds--text-input) {
    background-color: $field-01 !important;  
  }

  > * {
        position: relative;
        
        div[class*="cds--form-requirement"] {
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: $spacing-01;
          z-index: 1;
        }
      }

}

.identifierTable {
  :global(thead) {
    display: none;
  }

  :global(.cds--data-table-container) {
    padding-top: 0 !important;
  }

  :global(tbody) {
    tr td {
      border-top: none !important;
      border-bottom: none !important;
    }

    tr:hover td {
      cursor: default;
      border-bottom: none !important;
    }

    td:first-child {
      width: $spacing-13 + $spacing-06;
      white-space: nowrap;
      padding-inline-start: 0 !important;
      @include type-style("heading-compact-01");
      align-content: center;
    }
  }
}

.requiredAsterisk {
  color: #da1e28;
  margin-left: $spacing-01;
  @include type-style("body-compact-01");
}
