@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.vaccineTitle {
  @include type-style("heading-compact-02");
  margin-bottom: $spacing-04;
}

.requiredMark {
  color: $support-error;
}

//TODO: See if this can be moved to bahmni-design -system
.datePickerFullWidth {
  :global(.cds--date-picker),
  :global(.cds--date-picker-container),
  :global(.cds--date-picker-input__wrapper),
  :global(.cds--date-picker-input__wrapper > span),
  :global(.cds--date-picker--single .cds--date-picker__input) {
    inline-size: 100%;
  }
}
