@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;

.dropdownWrapper {
  :global(.cds--dropdown) {
    min-width: 12rem;
  }
}

.skeleton {
  height: $spacing-08;
}

.error {
  @include type-style("label-01");
  padding: $spacing-03 $spacing-04;
  color: var(--cds-text-error);
}

.noLocation {
  @include type-style("label-01");
  padding: $spacing-03 $spacing-04;
  color: var(--cds-text-secondary);
}
