@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;

.loading {
  @include type-style("label-01");
  padding: $spacing-03 $spacing-04;
}

.error {
  @include type-style("label-01");
  padding: $spacing-03 $spacing-04;
  color: $text-error;
}
