@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.additionalInfoSection {
  padding: $spacing-02 $spacing-06;
  display: flex;
  flex-direction: column;
  overflow: visible;
}


.attributeField {
  flex: 0 0 calc(50% - $spacing-06 / 2);
  padding-bottom: $spacing-03 + $spacing-01;
      
  > * {
    flex: 1 1 0;
    min-width: 0;
  }

  > * {
    position: relative;
    
    div[class*="cds--form-requirement"] {
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: $spacing-01;
      z-index: 1;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: $spacing-05;
  overflow: visible;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-06;
}
