@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.errorState {
  padding: $spacing-07;
  background-color: $layer-01;
}

.errorStateTitle {
  @include type-style("heading-compact-02");
  margin-bottom: $spacing-03;
}

.errorStateBody {
  @include type-style("body-compact-01");
  color: $text-secondary;
}
