@use "@carbon/react/scss/spacing" as *;

.container {
  position: relative;
  display: inline-block;
}

.menu {
  position: fixed;
  inset-block-start: $spacing-09 !important;
  inset-inline-start: unset !important;
  inset-inline-end: $spacing-05 !important;
  z-index: 9999;
}
