@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/motion" as *;

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  height: 8.125rem;
  cursor: pointer;
  transition: all $duration-moderate-01 $standard-easing;
  padding: $spacing-05;
  background-color: $layer-02;
  box-shadow: 0 2px 6px 0 $shadow;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px 0 $shadow;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $focus;
    outline-offset: -2px;
  }
}

.label {
  @include type-style("body-compact-01");
  margin: 0;
  text-align: left;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: $interactive;
}
